/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2';
}

/* CSS Variables */
:root {
    --navbar-height: 10px;
}

/* Navigation Bar */
header{
    max-width: 100%;
}
#navbar {
    display: flex;
    align-items: center;
    position: fixed;
    max-width: 100%;

}

/* Navbar : Logo and Image */
#logo {
    margin: 0px 0px;

}

#logo img {
    margin: 3px 14px;
    height: 6dvw;
}

/* Navbar : List Styling */
#navbar a {
    text-decoration: none;
}

#companyName {
    color: #0e1d5a;
    /* position: relative; */
    text-align: center;
    font-weight: bold;
    font-size: 1.2lvw;
    font-size-adjust: inherit;
}

#navbar a div {
    min-width: 95%;
    width: 95%;
    display: flex;
    position: relative;
}

#navbar ul {
    display: inline-flex;
}

#navbar::before {
    content: "";
    background: url("../img/background.jpg") no-repeat center center/cover;
    position: fixed;
    height: 17dvh;
    max-width: 100%;
    width: 100%;
    z-index: -1;
    box-shadow: 0 0 60px 5px rgb(230, 226, 221) inset;
}

#navbar ul li {
    list-style: none;
    display: block;
}

#navbar ul li a {
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2dvw;
}

#navbar ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: black;
}

input {
    border-radius: 20px;
    padding-left: 10px;
    font-weight: 500;
    font-style: italic;
}

input:focus {
    background-color: rgb(229, 245, 243);
}

#searchBar {
    width: 11dvw;
    margin-left: 5vw;
    border: 1px solid rgb(71, 69, 69);
    box-shadow: -1px 1px 10px black;
    display: inline-block;
    position: relative;
}

button {
    border-radius: 20px;
    width: 4dvw;
    box-shadow: 1px 0px 5px black;
    cursor: pointer;
    display: inline;
    position: relative;
}

button:hover {
    background-color: black;
    color: white;
    transition: all ease-in-out 0.3s;
}

.middleBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 145px;
}

.block img {
    width: 45vw;
    height: 60vh;
}

.middleBody::before {
    content: "";
    background-image: url("https://wallpaperaccess.com/full/1457224.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
    display: block;
    position: absolute;
    width: 100%;
    height: 85%;
    box-shadow: 0 0 60px 2px rgb(255, 234, 209) inset;
    top: 16dvh;
}

.middleBody div h1 {
    text-align: center;
    width: 100vmin;
    font-size: 2vw;
    text-shadow: 3px 3px 3px white;
}

.flex-left {
    display: inline-flex;
    width: 33%;
    align-items: center;
    color: white;
}

#CounterVisitor {
    display: inline-flex;
    width: 73%;
    align-items: center;
    justify-content: center;
    color: white;
}

#CounterVisitor:hover{
    /* text-shadow: 5px 5px 10px whitesmoke; */
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #0af3e0, 0 0 2px #0af3e0, 0 0 2px #0af3e0, 0 0 2px #0af3e0, 0 0 2px #0af3e0;
    }
    to {
      text-shadow: 0 0 7px #fff, 0 0 7px #8dc7e9, 0 0 7px #8dc7e9, 0 0 7px #8dc7e9, 0 0 7px #8dc7e9, 0 0 7px #8dc7e9, 0 0 7px #8dc7e9;
    }
  }

#developed {
    display: inline; */
    width: 10dvw;
    align-items: center;
    justify-content: right;
    color: aliceblue;
}

.right {
    color: white;
    display: inline;
    width: 33%;
}

#modified {
    display: inline;
}

#demo {
    display: inline;
}

footer{
    content: "";
    background-color: black;
    z-index: -1;
    width: 100%;
    max-width: 100%;
    display: inline-flex;
}